<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>__FILEBASENAME__.swift</string>
	<key>Description</key>
	<string>A simple custom UIView implementation</string>
	<key>Summary</key>
	<string>This file contains A simple custom UIView implementation to build a pop up or alert view with fade in and fade out animation</string>
	<key>SortOrder</key>
	<string>4</string>
	<key>DefaultCompletionName</key>
	<string>CustomView</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
</dict>
</plist>
